.menu-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 50px;

    border-bottom: 1px solid #262626;
    background-color: #141414;

    &.menu-header_right {
        justify-content: flex-end;
    }

    &.menu-header_no-bottom {
        border-bottom: none;
    }

    .menu-header__button {
        flex: 0 0 30px;
        @include unstyled-button;
        height: 30px;
        margin-left: 15px;
        padding: 0;

        &.menu-header__button_right {
            margin-left: 0;
            margin-right: 15px;
        }
    }
    .menu-header__icon {
        @include icon;
        font-size: 30px;
        color: $color-white;
    }

    h1.menu-header__title {
        flex: 1 1 auto;
        font-size: 20px;
        margin: 0;
        text-align: center;

        &.menu-header__title_right {
            margin-left: 45px;
        }
    }

    
}