.stock-badge {
    @include unstyled-button;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    width: 90px;
    padding: 8px;

    font-size: 20px;
    color: $color-white;

    cursor: pointer;

    &.stock-badge_change-pos {
        background-color: $color-green;
    }

    &.stock-badge_change-neg {
        background-color: $color-red;
    }

    .stock-badge__modifier {
        flex: 0 0 auto;
        text-align: left;
    }

    .stock-badge__value {
        flex: 1 1 auto;
        text-align: right;
        margin-left: 5px;
    }
}